@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@layer theme, base, mui, components, utilities;
@import "tailwindcss";

@theme {
    --font-montserrat: "Montserrat" . sans-serif;
    --animate-to-bottom: topToBottom 0.9s ease-in-out;
    --animate-to-right: leftToRight 0.9s ease-in-out;
    --animate-to-top: bottomToTop 0.9s ease-in-out;
    --animate-img: img 0.9s ease-in-out;
}

* {
    transition: all 0.2s ease-in-out;
}

@keyframes img {
    0% {
        opacity: 0;
        transform: translateY(-300px);
    }

    100% {
        opacity: 100;
        transform: translateY(0px);
    }
}

@keyframes topToBottom {
    0% {
        transform: translateY(-300px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes bottomToTop {
    0% {
        transform: translateY(300px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes leftToRight {
    0% {
        transform: translateX(-200px);
    }

    100% {
        transform: translateX(0px);
    }
}

::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    scrollbar-width: none;
}
